<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict the price of vehicules</h1>
     <h3> Enter the following values to predict the price of the the vehicle</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="name" placeholder="name" required="required" />
    	<input type="text" name="year" placeholder="year" required="required" />
		  <input type="text" name="km_drive" placeholder="km_drive" required="required" />
      <input type="text" name="fuel" placeholder="fuel" required="required" />
		  <input type="text" name="transimission" placeholder="transimission" required="required" />
		  <input type="text" name="owner" placeholder="owner" required="required" />
		  <input type="text" name="mileage" placeholder="mileage" required="required" />
      <input type="text" name="engine" placeholder="engine" required="required" />
      <input type="text" name="max_power" placeholder="max_power" required="required" />
      <input type="text" name="seats" placeholder="seats" required="required" />



        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>